*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
   
}
.container-fluid{
    display: flex;
    margin-top: 20px;
}
.navbar-nav{
    margin-left: 500px;
}
.container{
    padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:50px;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1 span{
    color: aqua;
}
#about{
    padding: 80px 40px;
}
.raw{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.skillrowf{
    display: flex;
    padding-top: 90px;
}
.skillrows{
    display: flex;
}
.col.logohover{
    padding-left: 40px;

}
.skillrow{
    display: flex;

 }

 .logohover{
    transition: transform .3s;
}
.logohover:hover{
    transform: scale(1.3);
}
.card{
    height: 80vh;
    width: 80%;
    margin-left: 60px;
    color: black;
}
.card-1{
   height: 600px;
} 
#portfolio{
   padding: 50px 0px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),aqua);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px ;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.layer p{
    font-size: 18px;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px; 
}
.contact-left p i{
    color: aqua;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: aqua;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid aqua;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background-color: aqua;
}
.btn.btn-2{
    display: inline-block;
    color: aqua;
    color: white;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn-2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    padding: 5px;
    padding-left: 30px;
    background: #262626;
}
.home{
    margin-left: 50px;
    margin-top: 15%;
    border-left: 5px solid white;
}
.home-data{
    margin: 20px;
}
.madewith{
    display: flex;
    color: black;
   
}
.madewith p{
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(27, 217, 250);
    background-color: aqua;
    border-radius: 15%;
}
.madewith p:hover{
    background-color: rgb(115, 241, 241); 
}
.getcode{
    margin-top: 20%;
    border: 3px solid rgb(1, 185, 185);
    padding: 15px;
    background-color: aqua;
    color: black;
    border-radius: 15%;
}
.getcode:hover{
    background-color: rgb(115, 241, 241);
}
.Resume{
    margin-right: 160px;
}